q* {
  padding: 0px;
  margin: 0px;
}
body { 
  background-color: #0e1010f5;
}
.logo {
  background-image: url("res/images/ShopCity.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  /* Increase the height */
  width: 170px;
  /* Increase the width */
}

.btn {
  border-radius: 50px;
  
}

.form-control {
  border-radius: 50px;
  width:16.5rem; 
}
 
.collapse {
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 `2
}
 
.carousel-item {
  height: 300px; /* Adjust the height as needed */
  width: 100%;
  background-size: cover;
  background-position: center;
}
 

.carousel-item:nth-child(1) {
  background-image: url("res/kk.png");
}
.carousel-item:nth-child(2) {
  background-image: url("res/kk.png");
}

 
